body {
	border: thin solid #000066;
	border-radius: 3px;
	box-shadow: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	color: #333333;
	background-color: #CFCFCF;
}
#h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: x-large;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #000066;
	text-align: center;
}
#copyright {
	font-size: x-small;
	color: white;
	text-transform: none;
	text-decoration: none;
}
footer {
	background-color: #454546;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px gray;
	color: #FFFFFF;
}
#allPage {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px gray;
	border: thin solid #003399;
	padding: 15px;
}
footer a {
	text-decoration: none;
	color: #C0C0C0;
	padding-right: 2px;
	padding-left: 2px;
}
footer a:hover {
	color: #000066;
	background-color: #CCCCFF;
}
label {
	width: 400px;
	text-align: right;
	float: left;
}
fieldset {
	border: thin solid #000066;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
	margin-bottom: 10px;
	margin-top: 10px;
}
#logo {
	text-align: center;
}
#tablefooter {
	text-align: center;
}
