vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300861728
vti_modifiedby:SR|DESKTOP-RVIUM83\\Thalyta
vti_timelastmodified:TR|20 Oct 2018 02:15:54 -0000
vti_timecreated:TR|17 Oct 2018 19:31:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week06/week06.html
vti_nexttolasttimemodified:TW|17 Oct 2018 20:51:04 -0000
vti_cacheddtm:TX|20 Oct 2018 02:15:54 -0000
vti_filesize:IR|1136
vti_cachedlinkinfo:VX|S|Images/trilliumgradient.png S|Images/trilliumfoot.gif S|Images/trillium.gif
vti_cachedsvcrellinks:VX|FSUS|Week06/Images/trilliumgradient.png FSUS|Week06/Images/trilliumfoot.gif FSUS|Week06/Images/trillium.gif
