vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300861728
vti_modifiedby:SR|DESKTOP-RVIUM83\\Thalyta
vti_timelastmodified:TR|19 Nov 2018 03:51:00 -0000
vti_timecreated:TR|07 Nov 2018 21:15:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week09/week09.html
vti_nexttolasttimemodified:TW|07 Nov 2018 22:11:08 -0000
vti_cacheddtm:TX|19 Nov 2018 03:51:00 -0000
vti_filesize:IR|645
vti_cachedlinkinfo:VX|S|Images/trilliumgradient.png
vti_cachedsvcrellinks:VX|FSUS|Week09/Images/trilliumgradient.png
